/*@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik+Bubbles&display=swap');


body {
    margin: 0;
    font-family: 'Rubik Bubbles', cursive;
    color: #333;
    line-height: 1.6;
    font-size: 17px;

    background: url(#{resource[ 'assets/images/manuls.png' ]}) no-repeat fixed center;
    background-size: cover;
    animation: bg-animation 1s ease-in-out alternate infinite;
}

@keyframes bg-animation {
    0% {
        background-position: 0 1px;
    }

    25% {
        background-position: 0 0;
    }

    75% {
        background-position: 0 1px;
    }

    100% {
        background-position: 0 0;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

/* HEADER */

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(243, 243, 243, 0.89);
}

.fio {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fio-text {
    margin: 0 50px;
    color: #da680c;
    font-weight: 700;
    font-size: 24px;
}

.fio-text-before, .fio-text-after {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
}

.fio-text-after {
    transition: color .2s linear;
}

.fio-text-after:hover {
    color: #fa7a0d;
}

/* MAIN */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 750px;
    margin: 130px auto;
    background: rgba(243, 243, 243, 0.89);
    text-align: center;
    color: #6b2c05;
}

.panel-element-inner h4 {
    margin: 2px;
}

#r-label {
    margin-bottom: 15px;
}

#image {
    margin-top: 20px;
}

.panel-element-inner {
    margin-top: 20px;
}

.panel-element-inner table {
    margin: auto;
    text-align: center;
}

.r-buttons, .panel-element-inner button, .panel-element button {
    font-family: 'Rubik Bubbles', cursive;
    color: #000000;
}

.panel-element input[type='submit'] {
    font-family: 'Rubik Bubbles', cursive;
    color: #000000;
}

.panel-element {
    margin: 10px;
}

#history table, #history td, #history th {
    border: 1px solid black;
    border-collapse: collapse;
}

#history table {
    width: 100%;
}

#history th > td {
    padding: 10px;
}

#area-image {
    border: 2px solid;
    background-color: rgba(222, 220, 220, 0.6);
}

.panel-element-inner input[value='FIRE'] {
    font-size: 30px;
    font-family: 'Rubik Bubbles', cursive;
    color: #c00808;
}

.warning {
    color: #fd0000;
}

.table-rows {
    color: #000000;
}

/* CLOCK */

#time {
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
}

#date {
    font-family: 'Roboto', sans-serif;
}
